*{
      margin: 0px;
      padding:0px;
}

h1{
      color:#ffffff;
      font-size:50px;

}

h2{
      color:#00b7ce;
}

h3{
      margin: 10px 0 0 0;
}

.aisatu{
      font-size: 30px;
      margin: 0 0 20px 0;
}


.header{

      width: 1200px;
      height:150px;
      background-image:url(IMG_3576.JPG);
      background-size:cover;
      padding: 50px 0 0 500px;
      
}

.main{
      background-color: azure;
      width: 1200px;
      height:470px;
}

.shortcut{
      width:400px;
      margin: 0 0 0 30px;

}

li{
      margin: 10px 30px;
      float:left;


}

.footer{
      width: 1200px;
      height:80px;
      background-color:#00b7ce;
}

.sibainu{
      font-size: 25px;
      color: #fff;
      opacity: 0.6;
      float: left;
      margin:20px 0 0 20px;
}

.chosakuken{
      font-size: 10px;
      opacity: 0.5;
      float: right;
      margin: 40px 0 0 0;
      
}


/*==============================
1000px以上
=============================*\
@media(min-width:1000px) .short-cut{
  float:left;
}

@media(min-width:1000px) .header{
   width:1200px;
}

/*==============================
670px以上1000px以下
=============================*\

@media(max-width:999px) .header{
   width:1000px;
}

@media(max-width:999px)　.short-cut{
   float:left;
}

@media(max-width:999px) .main{
   width:1000px;
}

@media(max-width:999px) .footer{
   width:1000px;
}

/*==============================
670px以下
=============================*\

@media(max-width:670px) .header{
  width:670px;
  padding:0px;
}

@media(max-width:670px) .main{
  width:670px;
}

@media(max-width:670px) .footer{
  width:670px;
}
